.container2 {
    position: absolute;
    top: 100px;
    left: 150px;
    padding: 10px;
}

.project {
    width: 120px;
    height: 120px;
    border-radius: 25%;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    cursor: pointer;
    background-size: 100%;
    background-position: center;
    position: absolute;
}

.project.dark-mode {
    width: 120px;
    height: 120px;
    border-radius: 25%;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    cursor: pointer;
    background-size: 100%;
    background-position: center;
    position: absolute;
    box-shadow: 0 4px 8px rgb(243, 225, 225);
}

/* Hover effect */
.project:hover {
    transform: scale(1.1); /* Slightly enlarges the icon */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Adds a shadow */
}

/* Active (clicked) effect */
.project.clicked {
    transform: scale(0.95); /* Slightly reduces the icon size to give a clicked effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Stronger shadow for clicked state */
    background-color: rgba(0, 0, 0, 0.1); /* Optional background color change for clicked effect */
}

/* Specific styling for the python icon */
.python {
    background-image: url('https://cdn.icon-icons.com/icons2/3406/PNG/512/python_logo_icon_216351.png');
    top: 250px;
    left: 900px;
}

.sql {
    background-image: url('https://images.freeimages.com/fic/images/icons/2779/simple_icons/4096/mysql_4096_black.png');
    top: 330px;
    left: 750px;
}

.javascript {
    background-image: url('https://cdn1.iconfinder.com/data/icons/round-icons-vol-2/512/Code_javascript_development-512.png');
    top: 330px;
    left: 1050px;
}

.blender {
    background-image: url('https://icons.veryicon.com/png/o/object/material-design-icons-1/blender-17.png');
    top: 470px;
    left: 750px;
}

.lock {
    background-image: url('https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/padlock-closed.png');
    top: 400px;
    left: 900px;
}

.java {
    background-image: url('https://cdn-icons-png.flaticon.com/512/154/154878.png');
    top: 470px;
    left: 1050px;
}

.c {
    background-image: url('https://i.pinimg.com/originals/1f/88/69/1f886933389dfdd361d7545fbf2be130.png');
    top: 550px;
    left: 900px;
}

/* Base style for all project titles */
.project-titles p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
}

/* Positioning and specific styles for each title */
.title-python { top: 200px; left: 400px; }
.title-sql { top: 400px; left: 250px; }
.title-js { top: 200px; left: 1350px; }
.title-blender { top: 650px; left: 400px; }
.title-java { top: 400px; left: 1450px; }
.title-c { top: 650px; left: 1350px; }
